<section class="wedding-section">
  <div class="container mx-auto text-center">
    <h1 id="wedding-title" class="text-5xl font-bold opacity-0">Lễ Cưới của Anh Tuấn & Thu Hương</h1>
    <p id="wedding-subtitle" class="mt-4 text-lg opacity-0">Hân hạnh mời bạn tham dự lễ cưới của chúng tôi</p>
  </div>
</section>

<style>
  .wedding-section {
    background-image: url('/image4.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    padding: 4rem 0.5rem; /* py-16 px-2 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* text-white */
    position: relative;
  }

  .wedding-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }
</style>

<script >
  import { gsap } from "gsap";
  const timeline = gsap.timeline();

  timeline
    .to("#wedding-title", {
      opacity: 1,
      y: 0,
      duration: 1,
      ease: "sine.out",
    })
    .fromTo(
      "#wedding-title",
      { y: 50 },
      { y: 0, duration: 1, ease: "sine.out" },
      "<"
    )
    .to(
      "#wedding-subtitle",
      {
        opacity: 1,
        y: 0,
        duration: 1,
        ease: "sine.out",
      },
      "-=0.5"
    );
</script>
